<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>You are on the Home Page</h1>
    <h5>Fact : 2+2 = <%= 2+2 %></h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rerum
      maiores id nulla? Inventore optio reprehenderit nihil beatae cupiditate
      tenetur, corporis itaque tempore? Eligendi consectetur, expedita autem
      error ratione quos.
    </p>
    <button>click me!</button>
  </body>
</html>
